.body-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  background: #000000;
  color: #ffffff;
}

.body-flex-container > div,
.body-employees-title {
  max-width: 60vw;
}

.body-text {
  margin: 50px 0px 50px 0px;
}

.body-text > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.body-text > ul > li {
  padding: 10px;
  list-style-type: none;
  transition: transform 0.2s;
}

.body-single-service-with-content:hover {
  color: whitesmoke;
  transform: scale(1.1);
}

.body-employees-title {
  margin-top: 60px;
}

.body-employees-flex-container {
  display: flex;
  justify-content: center;
}

.body-employee-imgs {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.5);
}

.body-employee-div {
  padding: 10px 50px 50px 50px;
  white-space: nowrap;
}

.body-employee-div > a {
  color: #ffffff;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .body-employees-flex-container {
    flex-direction: column;
  }
  .body-employee-div {
    padding: 30px 0px 30px 0px;
  }
  .body-flex-container > div,
  .body-employees-title {
    max-width: 80vw;
  }
}
