.single-service-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  background-color: black;
  color: white;
}

.single-service-inner-body {
  background-color: rgba(255, 255, 255, 0.1);
  word-break: break-word;
  width: 60vw;
  padding: 30px;
}

.single-service-inner-body-header-wrapper, .single-service-inner-body-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-service-inner-body-header {
  padding: 50px;
  max-width: 50vw;
}

.single-service-inner-body-text {
  /* padding: 50px; */
  line-height: 1.6;
  width: 50vw;
}

.single-service-home-link {
  color: white;
}
