.contact-form-wrapper {
  background-color: #00019f;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form-inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form-inner-wrapper > div {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.contact-form-inner-wrapper > div > label {
  padding: 5px;
}

.contact-form-title-wrapper {
  padding: 10px 10px 0px 10px;
  text-align: center;
}

.contact-form-title {
  color: #ffffff;
}

.contact-form-input-text {
  outline: none;
  border-radius: 10px;
  border: 2px solid #ccc;
  padding: 10px;
  resize: none;
  width: 750px;
  margin-bottom: 20px;
}

.contact-form-input-email {
  outline: none;
  width: 750px;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.contact-form-input-number {
  outline: none;
  width: 650px;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

input,
textarea {
  font-family: inherit;
}

.contact-form-button {
  -webkit-appearance: none;
  outline: none;
  color: #000000;
  background-color: whitesmoke;
  font-weight: bold;
  padding: 14px 50px;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form-status-wrapper {
  height: 10px;
}

.contact-form-status-value-success,
.contact-form-status-value-error {
  text-align: center;
}

.contact-form-status-value-success {
  color: #ffffff;
}

.contact-form-status-value-error {
  color: red;
}

.contact-form {
  padding: 20px;
}

@media only screen and (max-width: 992px) {
  .contact-form-wrapper {
    height: 700px;
  }
  .contact-form-input-text {
    width: 80vw;
  }
  .contact-form-input-email {
    width: 80vw;
  }
  .contact-form-input-number {
    width: 70vw;
  }
}
