.header {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}

.header-webp {
  background-image: url("/paneelikuva-low-res.webp");
}

.header-no-webp {
  background-image: url("/paneelikuva-low-res.jpg");
}

.header-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10vh;
}

@media only screen and (min-width: 992px) {
  .header-webp {
    background-image: url("/paneelikuva-high-res.webp");
  }
  .header-no-webp {
    background-image: url("/paneelikuva-high-res.jpg");
  }
}

@media only screen and (max-height: 768px) {
  .scroll-arrow-container {
    display: none;
  }
}
