.header {
  height: 100vh;
  background-image: url("/paneelikuva-low-res.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}

.header-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 992px) {
  .header {
    background-image: url("/paneelikuva-high-res.jpg");
  }
}
