.footer {
    width: 100%;
    text-align: center;
    position:fixed;
    bottom:0;
    left:0;
}

.footer > p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.footer-img {
    max-width: 60%;
    max-height: 60%;
    margin: 10px;
}