.footer {
    width: 100%;
    text-align: center;
}

.footer > p {
    padding: 20px 0px 20px 0px;
}

.footer-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.footer-img {
    max-width: 200px;
    pointer-events: none;
}

.footer-address {
    padding: 0px 40px 0px 40px;
}

@media only screen and (max-width: 768px) {
    .footer-flex-container {
        flex-direction: column;
    }
    .footer-address {
        padding: 0;
    }
}